@import "tailwindcss";
@import "@heroui/styles";

/* global theme */
:root {
    --white: oklch(100% 0 0);
    --black: oklch(0% 0 0);
}

/* light theme */
.light, [data-theme="light"] {
    --accent:oklch(0.6204 0.195 253.83);
}

/* dark theme */
.dark,[data-theme="dark"] {
    /* default */
    --background: oklch(12% 0.005 285.823);
}

/* export to tailwind */
@theme {
    --new-accent: var(--accent);
}