@import "tailwindcss";
@plugin './hero.ts';
/* referencing root package node_modules, where the components are hoisted to */
@source '../../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
